*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p {
  font-size: 20px;    
  color: rgb(255, 255, 255);
}

.cabeçalho {
  display: flex;
  
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

#centro {
    text-align: center;
    position: relative;
}

header {
    background-color: rgb(97, 97, 97);

}

#inicio {
	font-size: 25px;
	text-decoration: none;
	display: inline-block;
    color: white;
  position: absolute;
  left: 70%;
  top: 6%;
}

.letras {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

h2 {
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rtl 600000000ms linear infinite;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#tamanholetreiro {
  font-size: 25px;
}